html {
    font-family: monospace
}

div.centered {
    text-align: center;
}

p.margin-start-2em {
    margin-inline-start: 2em;
}

p.indent-1em {
    text-indent: 1em;
}

p.indent-2em {
    text-indent: 2em;
}

ol.outdented {
    margin-inline-start: -1em;
}
